@model CodeFirstDemo.Models.Seller

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SellerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SellerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
