@model IEnumerable<CodeFirstDemo.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tblProduct">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>
<p>Obtener cursos</p>
<input type="text" id="txtProducto" />
<input type="button" id="btnCurso" value="GetServer" />

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#txtProducto").keyup(function () {
                $.ajax({
                    //base address/controller/Action
                    url: 'http://localhost:44312/Products',
                    type: 'POST',
                    data: {
                        //Passing Input parameter
                        id: $('#txtProducto').val()
                    },
                    success: function (item) {
                        //write something
                        @foreach (var item in Model)
                        {
                            <tr>
                            <td>
                              @Html.DisplayFor(modelItem => item.Name)
                             </td>

                            </tr>
                        }

                    },
                    error: function () {
                        alert("error");
                    }
                });
                return false;
            });
        });

    </script>

}