@model CodeFirstDemo.Models.EnvoiceDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EnvoiceDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seller.SellerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller.SellerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnvoiceDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
